@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$theme-colors: (
        "primary": #0A0167,
        "secondary": #FF4500,
);

@import "bootstrap/scss/bootstrap";

*, body {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

