$container-max-widths: (
        xl: 1500px,
);

$blue: #0A0167;
$orange: #FF4500;

$colors: (
        "blue": $blue,
        "orange": $orange,
);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

*, body {
  font-family: 'JetBrains Mono', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import "utils/typography";

@import "components/navbar";
@import "components/footer";

@import "pages/home";
