.product-card {

  .title-content {
    cursor: pointer;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .product-image {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
  }

  .technologies {
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
  }
}